* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #f2f2f2;
  }
  h1 {
    font-size: 120px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
  }
  .parallax-saturn-1 {
    background: url("../../image/saturn/saturn1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }
  .parallax-saturn-2 {
    background: url("../../image/saturn/saturn2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }
  
  .parallax-saturn-3 {
    background: url("../../image/saturn/saturn3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }
  
  .parallax-saturn-4 {
    background: url("../../image/saturn/saturn4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }

  .parallax-saturn-5 {
    background: url("../../image/saturn/saturn5.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }

  .parallax-saturn-6 {
    background: url("../../image/saturn/saturn6.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }


  .parallax-saturn-7 {
    background: url("../../image/saturn/saturn7.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
  }
  
  .parallax-saturn-inner1 {
    padding: 16% 0;
  }

  .parallax-saturn-inner {
    padding: 12% 0;
  }
  h2 {
    font-size: 62px;
    color: #555;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 20px 0 10px;
  }
  p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50% 40px;
  }
  