.parallax-earth-1,
.parallax-earth-2,
.parallax-earth-3,
.parallax-earth-4,
.parallax-earth-5,
.parallax-earth-7,
.parallax-earth-6 {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 20px;
}

.parallax-earth-1 {
  background-image: url("../../../image/earth/earth1.jpg");
}

.parallax-earth-2 {
  background-image: url("../../../image/earth/earth2.jpg");
}

.parallax-earth-3 {
  background-image: url("../../../image/earth/earth3.jpeg");
}

.parallax-earth-4 {
  background-image: url("../../../image/earth/earth4.webp");
}

.parallax-earth-5 {
  background-image: url("../../../image/earth/earth5.jpg");
}

.parallax-earth-7 {
  background-image: url("../../../image/earth/earth7.jpg");
}
.parallax-earth-6 {
  background-image: url("../../../image/earth/earth6.jpg");
}

